:root {
    --primary-color:#1E3A8A;
    --secondary-color: #EFF6FF;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.container {
    width:50%;
    margin: auto;
    text-align: center;
}

.input-label {
     width: 100%;
     display: block;
     padding: 5% 1%;
     font-size: x-large;
}
.inputBox {
    width: 50%;
    display: block;
    padding: 1% 1%;
    border: 2px solid black;
    margin: auto;
}
.btn-box {
      padding: 1% 1%;
      background-color: var(--secondary-color);
      border-radius: 1rem;
      margin: 1rem 1rem;
      font-size: large;
      color: var(--primary-color);
      font-weight: bold;
}
.msg-box {
    font-size: x-large;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 50%;
    margin: auto;
}